@charset "UTF-8";

#container {
    width: 680px;
    margin: auto;
}

table {
    width: 680px;
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}

.center {
    text-align: center;
}

.error {
    color: red;
}

.bold {
    font-weight: bold;
}

.right {
    text-align: right;
}