<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Planner</title>
	<link rel="stylesheet" href="/css/default.css">
</head>
<body>
	<div id="container">
      <h1>[ Study Planner ]</h1>
      <div th:unless="${session.loginMember}">
          <input type="button" onclick="location.href='/member/join'" value="회원가입">
          <input type="button" onclick="location.href='/member/login'" value="로그인">
      </div>
      <div th:if="${session.loginMember}">
          <p>[[${session.loginMember.name}]] 님 환영합니다.</p>
          <input type="button" onclick="location.href='/board/list'" value="게시판">
          <input type="button" onclick="location.href='/member/logout'" value="로그아웃">
      </div>
</body>
</html>