<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Planner.repository.MemberMapper">
    <insert id="findMember">
        insert into member (
            member_id,
            password,
            nickname,
            email,
        ) values (
            #{member_id},
            #{password},
            #{nickname},
            #{email},
        )
    </insert>

    <select id="findMember" resultType="member">
        select * from member where member_id = #{member_id}
    </select>
</mapper>