<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Planner.repository.ScheduleMapper">
        <insert id="saveSchedule">
        <selectKey keyProperty="schedule_num" resultType="long" order="BEFORE">
        	select seq_schedule.nextval from dual
        </selectKey>
    insert into member (
    		schedule_num,
        	member_id,
            title,
            start_date,
            end_date,
            start_time,
            end_time
            
        ) values (
        	#{schedule_num},
        	#{member_id},
            #{title},
            #{start_date},
            #{end_date},
            #{start_time},
            #{end_time}
           
        )
    </insert>
    
		<select id="findMember" resultType="schedule">
        select * from member where member_id = #{member_id}
    </select>
    
</mapper>