<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="Planner.Model.member.Member" alias="member"/>
        <typeAlias type="Planner.Model.schedule.Schedule" alias="schedule"/>
        <typeAlias type="Planner.Model.Subject" alias="subject"/>
        <typeAlias type="Planner.Model.timer.Timer" alias="timer"/>
        <typeAlias type="Planner.Model.timer.TimerForm" alias="timerForm"/>
    </typeAliases>
</configuration>